/* Base Application Styles */

.app {
  color: #666;
  max-width: 500px;
  margin: 0 auto;
}

.todo-item {
  padding: 0.4em 0;
  cursor: pointer;
  color: #333;
  font-size: 20px;
  border: 2px;
  border-color: blue;
  border-radius: 5px;
  border-style: solid;
  margin: 10px;
  padding: 4px;
}

.todo-item:hover {
  background-color: #89AABB;
}

.todo-item.done {
  text-decoration: line-through;
}
